<p>
    When influencer Brooklyn Buckley travels to Big Bend National Park, she thinks it will be business as usual: take cute photos, see a new place, and leave. She stumbles upon the wrong party, and the next thing she knows she's woken up deep in the desert, with no memory of why. After reaching the Mexican border, she enters a world of strange rituals, nights spent sleeping under the stars, and unrelenting violence; a world that she is surprisingly well-suited for.
</p>
<p>
    With a new identity, new friends, and a new purpose, Brooklyn can't escape the feeling that some fundamental part of her is missing. They tell her it's just the desert getting to her, but she fears something about her has changed forever. After the bloodshed is over and the monsters of the West are buried, will she still recognize the person she sees in the mirror?
</p>
<p>
    <em>Blood of Agave</em> is a modern Western novel written as a love letter to both America's rotten soul and her national parks.
</p>