---
layout: blog_layout.html
title: books
---

<h2>Paint Dries as a Train Goes Off The Rails</h2>
<div class="image_box">
    <img class="img-right cover" src="/assets/cover1_3d.png" alt="The cover for the book. The title is 'Paint Dries as a Train Goes Off the Rails. The author is Nicholas Marchuk. It describes...' ">
    <p class="caption">Coming out August 22nd, 2025</em>
</div>
{% include "_blurb.html" %}
<h3>why you should read this book</h3>
<p>The modern age has made us into hunters of good content. When we find content, we devour it hungrily. <em>This book is content.</em> It gives you things to talk about, smile about, think about. People who read this book find that they sound more clever, more well-read, and more open-minded. To be serious, I think you'll enjoy reading it!</p>
<p>I have tried hard to think of a way to fit this book into a genre, and I have come up short in some ways. I think it depends on your perspective. In many ways, it is a humor book. There are modern cultural references. Characters misremember common phrases, make mistakes when speaking, they encounter creeps and weirdos, they laugh and joke together like old friends. I want you to be friends with the people in this book, and get to know them a little, despite their flaws.</p>
<p>The book is a bit of a romance. I don't mean in the sense that it is smut or that there are dashing business magnates based on characters from Twilight. It is a book that has things to say about love. It contains information on what it means to love one another (or not), and what is interesting, painful, or good about that. It's something I think we should all be learning about as much as we can.</p>

<h3>still not convinced?</h3>
<p>There's more! You can download a free preview of the book right here on this website. You just need to join my mailing list.</p>
{% include "_magnet.html" %}
<p>A signup form like this is not easy to set up. Do me a favor by putting your email inside of it! It wants your email!!</p>

<h3>what people are saying</h3>

<div class="reviewbubble">
<p>"theres something tender in how he observes her quietly, always with this unspoken affection. love, even. with her it felt like moments of peace in the middle of the storm. this isnt just satire or absurdism its a soft, weird love story too."</p>
<p>"this is a brilliant novel that turns a disaster into sort of a background noise for the real story: dry jokes, packet handouts, awkward hugs, and the quiet ache of wanting to be seen. the book knows how to hit emotional truths in a quiet, original way. It’s not trying to be profound in a preachy sense—but it accidentally is."</p>
<div class="flex_lr">★★★★ (4.5/5) <a class="a inline" href="https://www.goodreads.com/review/show/7743253836?book_show_action=false">-triwizreads on goodreads</a></div>
</div>

<div class="reviewbubble">
<p>"this book touched upon so much for me. but frustratingly for you its hard for me to put that into words without you all reading the words for yourself! it a feeling you get from the story, the way its told, the words used. its a vibe and sense of people, places and conversations had. its looks, stares and friendships. its awkward hugs and support for those you cherish and those you meet. its taking on thoughts and relating it to the world and to yourself."</p>
<div class="flex_lr">★★★★★ (5/5) <a class="a inline" href="https://www.netgalley.com/book/678964/review/1491639">-kate t. on netgalley</a></div>
</div>

<div class="reviewbubble">
<p>"I loved this. The writing style is a strange mix of very modern and very other worldly and it really works. Somehow, without actually saying much, the characters burst to life."</p>
<div class="flex_lr">★★★★★ (5/5) <a class="a inline" href="https://www.netgalley.com/book/678964/review/700299">-louise g. on netgalley</a></div>
</div>

<h3>sites</h3>
<p><a class="a inline" href="https://www.goodreads.com/book/show/238762543-paint-dries-as-a-train-goes-off-the-rails">goodreads</a>
<p><a class="a inline" href="https://app.thestorygraph.com/books/dcd76a16-83f6-466c-be47-6e8251919bca">storygraph</a>
<p><a class="a inline" href="https://fable.co/book/paint-dries-as-a-train-goes-off-the-rails-by-nicholas-marchuk-9798999540300">fable</a>

<h3>metadata</h3>
<p>ebook isbn: 979-8-9995403-0-0 / paperback isbn: 979-8-9995403-1-7 (206 pages, 6"x9")</p>
<p>release date: august 22nd 2025 / publisher: nicholas marchuk / <a href="/assets/cover1.jpg", class="a inline">click here for cover img</a></p>