---
layout: blog_layout.html
title: books
---

<h2>Paint Dries as a Train Goes Off The Rails</h2>
<div class="image_box">
    <img class="img-right cover" src="/assets/cover1_3d.png" alt="The cover for the book. The title is 'Paint Dries as a Train Goes Off the Rails. The author is Nicholas Marchuk. It describes...' ">
    <p class="caption">Coming out August 22nd, 2025</em>
</div>
{% include "_blurb.html" %}
<h3>why you should read this book</h3>
<p>The modern age has made us into hunters of good content. When we find content, we devour it hungrily. <em>This book is content.</em> It gives you things to talk about, smile about, think about. People who read this book find that they sound more clever, more well-read, and more open-minded. To be serious, I think you'll enjoy reading it!</p>
<p>I have tried hard to think of a way to fit this book into a genre, and I have come up short in some ways. I think it depends on your perspective. In many ways, it is a humor book. There are modern cultural references. Characters misremember common phrases, make mistakes when speaking, they encounter creeps and weirdos, they laugh and joke together like old friends. I want you to be friends with the people in this book, and get to know them a little, despite their flaws.</p>
<p>The book is a bit of a romance. I don't mean in the sense that it is smut or that there are dashing business magnates based on characters from Twilight. It is a book that has things to say about love. It contains information on what it means to love one another (or not), and what is interesting, painful, or good about that. It's something I think we should all be learning about as much as we can.</p>

<h3>still not convinced?</h3>
<p>There's more! You can download a free preview of the book right here on this website. You just need to join my mailing list.</p>
{% include "_magnet.html" %}
<p>A signup form like this is not easy to set up. Do me a favor by putting your email inside of it! It wants your email!!</p>

<h3>selected serious editorial reviews</h3>
<p><b><em>"HE STARTS OFF HITTING THE VAPE"</em></b> - Helena Gill, Dimensional Engineer at General Motors</p>
<p><b><em>"That long dry hit of his vape? I remember that part!"</em></b> - Ember Nevins, Framer at Kennedy Gallery & Custom Framing</p>
<p><b><em>"Pretty crude. But interesting."</em></b> - Lesley Hocking, English Teacher at Dover High School</p>

<h3>metadata</h3>
<p>ebook isbn: 979-8-9995403-0-0 / paperback isbn: 979-8-9995403-1-7 (206 pages, 6"x9")</p>
<p>release date: august 22nd 2025 / publisher: nicholas marchuk / <a href="/assets/cover1.jpg", class="a inline">click here for cover img</a></p>