<!-- <p>
Connor loves his neighborhood–the beautiful old buildings, underground music shows, and walkable living. He has an easy job painting exteriors with his best friends and his new girlfriend, Kara. He’s on his way to figuring out what he wants from life.
</p>
<p>
One day, a freight train derails in the town center, causing a raging inferno that spills toxic chemicals all over the neighborhood. Connor, his friends, and everyone he knows has to move. The music scene he has come to love evaporates overnight. Things take a turn for the worse when he finds out that the city plans to turn the disaster site into a park, leaving them without a place to live.
</p>
<p>
Kara comes to the group with a plan: they will recruit local musicians to put on a music festival where the neighborhood once stood, to convince the public that their community and way of life are worth saving. However, in a world that seems determined to leave them behind, they find that nothing comes easy.
</p> -->
<p><b><em>"Everyone should read this book." - Anonymous</em></b></p>
<p><b><em>"This is another quote about the book." - Anonymous</em></b></p>
<p>When a freight train crashes into Connor’s neighborhood, the ensuing fire leaves him homeless. He shares a cramped hotel room with his restless yet magnetic coworker, Kara. Thrown together as they rebuild, it's easy for them to fall for each other.</p>
<p>When their cherished neighborhood is set to be demolished and replaced with a park, she leads Connor and his friends on a last-ditch act of defiance: a concert at the site of the accident, featuring the musicians who lost their homes, to prove their community is worth saving.</p>
<p>As friendships, relationships, and lives are strained, he confronts a simple question: What if giving all of something isn’t enough?</p>