<div class="flex_lr">
    <div class="ml-embedded" data-form="a6zzhd"></div>
        <img class="img-right cover" src="/assets/LINEMAN_3D.png" style="margin-left: 20px" alt="The cover for the anthology. The title is 'Lineman: An Anthology. The author is Nicholas Marchuk. The cover depicts power lines at sunset.">
</div>
<p><b>Subscribe to my newsletter to read my FREE short story collection called LINEMAN.</b></p>
<p>Lineman takes you across the galaxy: From a miner on the planet Venus, to a society that puts baseball above all else, to a man who thinks he may have dissolved the corpse of his landlord in a barrel, this collection is sure to keep readers guessing.</p>

