<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="style-light" rel="stylesheet" href="{{ stylesheet | default: "/style_light.css" }}">
        <link id="style-dark" disabled rel="stylesheet" href="/style_dark.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dark_mode" />
        <script src="/darkmode.js"></script>
        <script src="/utils.js"></script>
        <title>{{ title | default: " blog" }} | Nicholas Marchuk | Author</title>
        {% include "_mailerlite.html" %}
    </head>
    <body>
        <div class="head">
            <div class="flex_lr">
            <nav class="nav">
                <h2>
                <ul class="nav-list">
                    <li><a href="/">blog</a></li>
                    <li>•</li>
                    <li><a href="/about/">about</a></li>
                    <li>•</li>
                    <li><a href="/books/">books</a></li>
                    <li>•</li>
                    <li><a href="/contact/">contact</a></li>
                </ul>
                </h2>
            </nav>
            <button class="button inline" id="button_dark_mode"><span class="material-symbols-outlined">dark_mode</span></button>
            </div>
        </div>
        {% if tags contains "splash" %}
        <div class="container">
            <div class="image_box">
            <img class="img-right cover" src="/assets/tbd.png" alt="A grayed out picture of a canyon, pixelized, with a question mark in the center.">
            <p class="caption">Coming out in 2026</p>
        </div>
        <h2>Follow Me Unhappy Flower</h2>
        {% include "followme/_blurb.html" %}
        </div>
        <div class="container">
            {% include "_magnet.html" %}
        </div>
        <div class="container">
            <h1><a href="/books/">paint dries as a train goes off the rails</a></h1>
            {% include "_3dbox.html" %}
            {% include "_blurb.html" %}
            <p><em><a class="a inline" href="/books/">learn more...</a></u></em></p>
            <p><em><a class="a inline" href="https://www.goodreads.com/book/show/238762543-paint-dries-as-a-train-goes-off-the-rails">view on goodreads...</a></em></p>
        </div>
        {% endif %}
        {% if tags contains "multicontainer" %}
            <main>
                {{ content }}
            </main>
        {% else %}
            <div class="container">
                {% if tags contains "post" %}
                <div class="flex_lr">
                    <h1>{{ title | default: " My Blog" }}</h1>
                    <p> {{ page.date | date: "%B %d, %Y" }}</p>
                </div>
                {% else %}
                    {% if tags contains "short" %}
                    <div class="flex_lr">
                        <h1>{{ title | default: " Title" }}</h1>
                        <p><a href="/shorts/">go back...</a></p>
                    </div>
                    {% else %}
                    <h1>{{ title | default: " My Blog" }}</h1>
                    {% endif %}
                {% endif %}
                <main>
                    {{ content }}
                </main>
            </div>
        {% endif %}
        {% if tags contains "post" %}
        <div class="container">
            <h2>feed</h2>
            {% for post in collections.post reversed %}
            <div class="flex_lr">
                <p><a href="{{ post.url }}">{{ post.data.title }}</a></p><p>{{ post.data.date | date: "%B %d, %Y" }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if tags contains "magnet_bottom" %}
        <div class="container">
            {% include "_magnet.html" %}
        </div>
        {% endif %}
        {% if tags contains "short" %}
        <div class="container">
            {% include "_short_footer.html" %}
        </div>
        {% endif %}
        <div class="foot">
            <div class="flex_lr">
            <nav class="nav">
                <p>
                <ul class="nav-list">
                    <li><a href="/faq/">faq</a></li>
                    <li>•</li>
                    <li><a href="/credits/">credits</a></li>
                    <li>•</li>
                    <li><a href="https://www.instagram.com/marchukbooks">insta</li></a>
                    <li>•</li>
                    <li><a href="https://tiktok.com/@marchukbooks">tiktok</li></a>
                    <li>•</li>
                    <li><a href="https://www.youtube.com/@marchukbooks">youtube</li></a>
                    <li>•</li>
                    <li><a href="/feed.xml">rss</a></li>
                </ul>
                </p>
            </nav>
            <p>2025 © Nicholas Marchuk. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
