<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style_light.css">
        <link rel="stylesheet" href="/style_dark.css">
        <title>{{ title | default: " blog" }}</title>
    </head>
    <body>
        <p><a href="/index.html"><< return home</p></a>
        <div class="container wn_content">
            <main>
                <h2>chapter one</h2>
                <div class="wn_content">
                    {{ content }}
                </div>
            </main>
        </div>
        
    </body>
</html>
