<p>
    When influencer Brooklyn Buckley travels to Big Bend National Park, she thinks it will be business as usual: take cute photos, see a new place, and get out. After going to the wrong party and taking the wrong drug, she finds herself lost in the desert. After finding the Mexican border, she enters a world of strange rituals, nights spent sleeping under the stars, and unrelenting violence; a world that she is surprisingly well-suited for.
</p>
<p>
    With a new identity, new friends, and a new purpose, Brooklyn can't escape a fact that has followed her since she woke up: She can no longer feel fear. They tell her it's a side effect of the drug, but she fears something about her has changed forever. After the bloodshed is over and the monsters of the West are buried, will she still recognize the person she sees in the mirror?
</p>
<p>
    <em>Follow Me Unhappy Flower</em> is a modern Western novel written as a love letter to both America's rotten soul and her national parks.
</p>